@media(max-width:1300px){
    .idea{
        flex-wrap: wrap;
    }

    .box-idea{
        flex-basis: 46%;
    }

    .content-service{
        flex-direction: column;
    }

    .img-service::before{
        display: none;
    }

    .img-service img{
        margin: 0 auto;
    }

    .portfolio{
        padding: 50px;
    }

    .about{
        padding: 50px;
    }

    .boxes-about{
        flex-direction: column;
    }

    .box-img::before , .box-img::after{
        display: none;
    }

    .box-img{
        margin-bottom: 30px;
    }

    ul.list{
        gap: 20px;
    }

}

@media(max-width:991px){
    .service{
        padding: 50px;
    }

    .service , .idea , .about , .head , .portfolio , .contact{
        padding-left: 20px;
        padding-right: 20px;
    }

    .boxes-port{
        flex-wrap: wrap;
    }

    .portfolio .box-port{
        flex-basis: 46%;
    }

   
}

@media(max-width:767px){

    .head .navbar i{
        display: flex;
        flex: 1;
        justify-content: end;
    }

    .navbar i:hover + ul.list{
        flex-direction: column;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.61);
        width: 100%;
        height: 450px;
        gap: 10px;
    }

    ul.list{
        display: none;
    }

    .landing h1{
        font-size: 50px;
    }

    .landing p{
        font-size: 15px;
    }

    .boxes-services{
        flex-direction: column;
        text-align: center;
    }
    .box-service{
        flex-direction: column;
    }
    .idea{
        flex-flow: column wrap;
    }
    .box-idea{
        flex-basis: 100%;
    }

    .boxes-port{
        flex-flow: column wrap;
    }

    .box-port{
        flex-basis: 100%;
    }
    .heading{
        font-size: 3em;
    }

    .heading + p{
        font-size: 1.2em;
    }

    .contact a{
        font-size: 1em;
    }

    .contact span{
        font-size: 1em;
    }

    .footer{
        font-size: .5em;
    }

}
