/* start variable */

:root{
    --main-color:#10c9b6;
    --bg-color:hsl(200deg 32.31% 25.49%);
}

/* end variable */

/* start globale */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* end globale */

/* start heading */

.head{
    padding: 0 150px;
    min-height: 107px;
    background-color: rgba(0, 0, 0, 0.61);
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

.head img{
    width: 100px;
}

.head .navbar i{
    display: none;
}

ul.list{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.navbar a{
    color: white;
    position: relative;
    padding: 5px 0;
}

.navbar a::before{
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s ease;
}

.navbar a::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 1s ease;
}

.navbar a:hover::before , 
.navbar a:hover::after{
    width: 100%;
}

a.active{
    color: var(--main-color);
}

.navbar{
    flex: 1;
    display: flex;
}

.navbar i{
    color: white;
    position: relative;
}




/* end heading */

/* start landing */

.landing{
    background-image:url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing p{
    max-width: 600px;
    margin: 10px auto 0;
}

/* end landing */

/* start idea */

.idea h3{
    margin: 30px 0 10px;
}

.box-idea{
    padding: 50px;
    position: relative;
    box-shadow: 0 0 10px rgba(0 0 0 / 20%);
}

.box-idea::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0 0 0 / 20%);
    transition: 1s ease;
}

.box-idea::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: -2;
    box-shadow: 0 0 10px rgba(0 0 0 / 20%);
}

.box-idea:hover::before{
    transform: rotate(-2deg);
}

.box-idea:hover::after{
    transform: rotate(2deg);
}

.box-idea i{
    color: var();
}

/* end idea */

/* start service */

.service{
    padding: 50px 150px 100px 150px;
}

.boxes-services{
    flex-basis: calc(100% - 300px);
    flex-wrap: wrap;
}

.box-service{
    flex-basis: 46%;
    gap: 20px;
}

.box-service .text-service{
    flex: 3;
}

.img-service{
    position: relative;
    margin-bottom: 30px;
    height: 350px;
}

.img-service::before{
    content: "";
    position: absolute;
    height: calc(100% + 60px);
    width: 80px;
    background-color: var(--bg-color);
    z-index: -1;
    top: -30px;
    right: -20px;
}

.service img{
    width: 250px;
    height: 350px;
}

.box-service p{
    font-size:1em ;
}


/* end service */

/* start portfolio */

.portfolio{
    background-color: #eee;
}

.box-port{
    background-color: white;
    transition: 1s ease;
    overflow: hidden;
}

.text-port{
    padding: 30px 20px;
}

.portfolio a{
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    padding: 10px 15px;
    margin: 50px auto 0;
    display: block;
    width: fit-content;
    position: relative;
}

.portfolio a::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background-color: var(--bg-color);
    top: 0;
    left: 0;
    transition: 1s ease;
}

.portfolio a:hover::before{
    width: 100%;
    z-index: -1;
}

.portfolio a:hover{
    color: white;
    z-index: 33;
}

.box-port img{
    transition: 1s ease;
}

.box-port:hover img{
    transform:rotate(2deg) scale(1.1,1.1);
}

.box-port:hover{
    box-shadow:0 0 20px rgba(0 0 0 / 20%);
    cursor: pointer;
}

/* end portfolio */

/* start about */

.boxes-about{
    align-items: center;
}

.box-img{
    flex: 1;
    position: relative;
}

.box-img img{
    width: 300px;
}

.box-img::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 100%;
    right: 20px;
    top: -40px;
    border-left: 90px solid var(--bg-color);
    border-bottom: 90px solid var(--bg-color);
    z-index: -1;
}

.box-img::after{
    content: "";
    position: absolute;
    width: 100px;
    height:calc(100% + 60px) ;
    background-color: #eee;
    z-index: -1;
    left: -20px;
    top: -30px;
}

.box-about{
    flex-basis: calc(100% - 500px);
    padding-left: 50px;
}

hr{
    border-color:var(--main-color);
    width: 50%;
    display: inline-block;
}

/* end about */

/* start contact */

.social{
   font-size: 1em;
}

.social i{
    margin-left: 5px;
}


/* end contact */

/* start footer */

.footer{
    background-color:var(--bg-color);
    color: white;
    padding: 10px;
}

/* end footer */